version: '3'
services:
  web:
    build: .
    environment:
      - RAILS_ENV=development
      - PGHOST=db
      - PGPORT=5432
      - PGUSER=postgres
      - PGPASSWORD=password
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/rails_restapi
    ports:
      - "3000:3000"
    depends_on:
      - db
  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: rails_restapi_development
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
